footer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    top: 0.5%;
    opacity: 0.3;
    cursor: pointer;
    transition: opacity 150ms;
    &:hover{
        opacity: 1;
    }
    .logo {
        width: 75px;
        height: 75px;
        padding-left: 7.5%;
    }
    .company_name {
        padding: 2% 0 0 2%;
    }
    .web_page{
        margin-top: 7%;
    }
}
