header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5%;
    height: auto;
    opacity: 0.3;
    cursor: pointer;
    transition: opacity 0.5s;
	&:hover{
		opacity: 1;
	}
}
.logo {
    width: 112px;
    height: auto;
    padding-left: 7.5%;
}

.company_name {
    width: 293px;
    height: auto;
    padding: 2% 0 0 2%;
}
